
@font-face {
    font-family: "yunchuan";
    src: url(../fonts/yunchuan.ttf) format("truetype");
}
html,body{
    font-family: "yunchuan";
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

*{
    text-decoration: none !important;
}



.nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px 0 0px;
    background-color: #4a1b32;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
  
  
  }
  
  .nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #dab858;
  }
  
  .nav .links .mainlink{
    color: #e84300;
  }
  
  .nav h4{
    color: #dab858;
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
  }

/* LANDING CSS */

.landing{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10vw 0 10vw;
    height: 100vh;
}

.landingText{
    margin-right: 300px;
}

.landingText h1{
    font-size: 20px;
    margin: 2 !important;
}

.landingText h3{
    color: #dab858;
    margin: 6px !important;
    font-size: 15px;
    opacity: 1;
    line-height: 30px;
}

.landingText .btn{
    width: 120px;
    margin-top: 20px;
    padding: 14px 20px 14px 20px;
    background-color: #dab858;
    border-radius: 45px;
    text-align: center
}

.landingText .btn a{
    font-size: 1.2vw;
    color: #fff;
}


.landingImage1 img{
    position: relative;
    width: 420px;
}


.landingImage2 img{
    position: relative;
    width: 420px;
}










































































